<!DOCTYPE html>
<html>
  <head>
    <title>Exam2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-default bg-light">
  <a class="navbar-brand" href="/home_controller/index">Z-Mobile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
      <a class="navbar-brand" href="/home_controller/index">Cart</a>
    </form>
  </div>
</nav>


	
    <%= yield %>
<div class="footer-copyright text-center py-3">Call center: +562 0225 4588 -
    <a > Los Angeles, USA</a>
   </div>
  </body>
</html>
